*{
    margin-left: 3px;
    margin-right: 3px;
    justify-content: space-around;
    text-align: center;
}

body {font-family: 'Montserrat', sans-serif;}

h1 {font-family: 'Paytone One', sans-serif;}

h3 {font-family: 'Paytone One', sans-serif;}

hr {
    background: linear-gradient(to right, lightblue, darkblue);
    height: 2px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 3px;
    margin-bottom: 1%;
}

#title {
    text-align: center;
    color: darkblue;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}



.container p {
    font-size: 30px;
    color: blue;
    text-align: center;
    font-weight: bolder;
}

.flex-item1 {flex: 1 1;}
.flex-item2 {flex: 1.5 1;}


th, td {
    border: 1px solid black;
    text-align: center;
    height: 30px;
}

table {
    width: 100%;
    min-width: 450px;
    margin-right: 6%;
    border: 2px solid black;
    font-size: 14px;
    border-collapse: collapse;
}

#column-name {
    background-color: lightgray;
    font-weight: bolder;
}

#sum_line {
	max-width: 700px;
}

#sum_bar {
	max-width: 700px;
}

#single_channel_line {
	max-width: 700px;
}

#single_channel_bar {
	max-width: 700px;
}

#channel_line {
	max-width: 700px;
}

#uv_pie {
    max-width: 550px;
    margin-left: 10%;
}





