*{
    margin-left: 3px;
    margin-right: 3px;
    justify-content: space-around;
    text-align: center;
}

body {font-family: 'Montserrat', sans-serif;}

h1 {font-family: 'Paytone One', sans-serif;}

h3 {font-family: 'Paytone One', sans-serif;}

hr {
    background: linear-gradient(to right, lightblue, darkblue);
    height: 2px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 3px;
}

#title {
    text-align: center;
    color: darkblue;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: space-between;
}

.container p {
    font-size: 30px;
    color: blue;
    text-align: center;
    font-weight: bolder;
}

.flex-item1 {flex: 1;}
.flex-item2 {flex: 1.5;}

th, td {
    border: 1px solid black;
    text-align: center;
    height: 30px;
}

table {
    width: 100%;
    margin-right: 6%;
    border: 2px solid black;
    font-size: 14px;
    border-collapse: collapse;
}

#column-name {
    background-color: lightgray;
    font-weight: bolder;
}






#fieldset1 {
    border: none;
    margin: 5px;
}

#dialog {
    width: 24%;
    height: 5%;
    text-align: center;
    padding-top: 2.5%;
}

.pure-button.button-success,
.pure-button.button-error {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

#paymentselect {
    width: 125px;
    height: 100px;
}

input[type=number]{
    width: 100px;
} 

#d3line_chart {
    max-width: 550px;
}

#d3pie_chart {
    max-width: 500px;
}

